#root {
  margin: 0 auto;
  text-align: center;
}
td  .btn{
  background-color: #2c70b1;
  color: whitesmoke;
}

.container{
  height: max-content;
}

.container h1, p{
  font-size: 30px;
  color: dimgray;
}

thead{
  background-color: #b15d2c;
  
}
